@import '../../../styles/vars.scss';

.cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 25rem;

    @media only screen and (max-width: 60em) {
        flex-direction: column;
    }
}