@import '../../../styles/vars.scss';

.section-title-wrapper {
    margin: auto;
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    letter-spacing: 0.225rem;

    & .underline {
        display: block;
        height: .5rem;
        width: 100%;
        background: $fuchsia;
        margin-bottom: 5rem;
        transition: all 300ms ease-in-out;
        visibility: visible;
        opacity: 1;

        &.slide-up {
            transform: translateY(10rem);
            visibility: hidden;
            opacity: 0;
            
            @media only screen and (max-width: 60em) {
                visibility: visible;
                opacity: 1;
                transform: translate(0, 0);
            }
        }
    }
}

.section-title {
    font-family: $font-primary;
    font-size: 5rem;
    color: $color-gray;
    transition: all 300ms ease-in-out;
    visibility: visible;
    opacity: 1;

    &.slide-down {
        transform: translateY(-5rem);
        opacity: 0;
        visibility: hidden;

        @media only screen and (max-width: 60em) {
            visibility: visible;
            opacity: 1;
            transform: translate(0, 0);
        }
    }
}