@import '../../../styles/vars.scss';

.selector-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    visibility: visible;
    transition: all 300ms ease-out;

    &.slide-right {
        opacity: 0;
        visibility: hidden;
        transform: translateX(-15%);
    }
}